<?xml version="1.0" encoding="utf-8" ?>
<LodelPlugin>
    <title>DOI Cooker</title>
    <description>Production de fichier de dépôt DOI au format xml</description>
    <sql>0</sql>
    <hookType>class</hookType>
    <triggers>postview</triggers>
    <parameters>
        <param name="userrights" title="Droits utilisateurs" type="select" allowedValues="20,30,40,128" defaultValue="128" required="true"/>
        <param name="prefix" title="Préfixe du DOI" type="text" allowedValues="" defaultValue="" required="true"/>
        <param name="depositor" title="Editeur institutionnel (Depositor)" type="text" allowedValues="" defaultValue="" required="true"/>
        <param name="email" title="Email" type="text" allowedValues="" defaultValue="" required="true"/>
        <param name="harvestedtypes" title="Type de texte à moissonner (séparateur = virgule)" type="text" allowedValues="" defaultValue="article" required="true"/>
    </parameters>
</LodelPlugin>
